
body {
    font-family: 'Inter', san-serif;
}

h1 {
    padding: 1.5em auto 0.5em;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
}

img {
    display: block;
    width: 75%;
    height: auto;
    margin: 0 auto;
    border-radius: 1em;
}


