
body {
    font-family: 'Inter', san-serif;
}

h1 {
    padding: 0.4em 0.2em 0.2em 0.2em;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
}

img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-radius: 1em;
}


